{
  "openapi": "3.0.0",
  "info": {
    "title": "Botpress API",
    "description": "Unified Botpress API covering Admin, Chat, Files, Runtime, and Tables APIs.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.botpress.cloud"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/v1/admin/helper/vrl": {
      "post": {
        "operationId": "Admin_runVrl",
        "description": "Run a VRL script",
        "parameters": [
          {
            "name": "x-workspace-id",
            "in": "header",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/runVrlResponse"
          },
          "default": {
            "$ref": "#/components/responses/runVrlResponse"
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/runVrlBody"
        },
        "x-mint": {
          "metadata": {
            "title": "runVrl"
          }
        },
        "x-hidden": true,
        "tags": [
          "Admin",
          "Endpoints"
        ]
      }
    },
    "/v1/admin/account/me": {
      "get": {
        "operationId": "Admin_getAccount",
        "description": "Get details of the account authenticating with this endpoint.",
        "parameters": [
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getAccountResponse"
          },
          "default": {
            "$ref": "#/components/responses/getAccountResponse"
          }
        },
        "tags": [
          "Admin",
          "Endpoints"
        ],
        "x-mint": {
          "metadata": {
            "title": "getAccount"
          }
        }
      },
      "put": {
        "operationId": "Admin_updateAccount",
        "description": "Update details of the account associated with authenticated user",
        "parameters": [
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/updateAccountResponse"
          },
          "default": {
            "$ref": "#/components/responses/updateAccountResponse"
          }
        },
        "tags": [
          "Admin",
          "Endpoints"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/updateAccountBody"
        },
        "x-mint": {
          "metadata": {
            "title": "updateAccount"
          }
        }
      },
      "post": {
        "operationId": "Admin_deleteAccount",
        "description": "Delete the account associated with authenticated user",
        "parameters": [
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/deleteAccountResponse"
          },
          "default": {
            "$ref": "#/components/responses/deleteAccountResponse"
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/deleteAccountBody"
        },
        "x-mint": {
          "metadata": {
            "title": "deleteAccount"
          }
        },
        "x-hidden": true,
        "tags": [
          "Admin",
          "Endpoints"
        ]
      }
    },
    "/v1/admin/account/pats": {
      "get": {
        "operationId": "Admin_listPersonalAccessTokens",
        "description": "List PATs (Personal Access Tokens) of account.",
        "parameters": [
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listPersonalAccessTokensResponse"
          },
          "default": {
            "$ref": "#/components/responses/listPersonalAccessTokensResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "listPersonalAccessTokens"
          }
        },
        "x-hidden": true,
        "tags": [
          "Admin",
          "Endpoints"
        ]
      },
      "post": {
        "operationId": "Admin_createPersonalAccessToken",
        "description": "Create a PAT",
        "parameters": [
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/createPersonalAccessTokenResponse"
          },
          "default": {
            "$ref": "#/components/responses/createPersonalAccessTokenResponse"
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/createPersonalAccessTokenBody"
        },
        "x-mint": {
          "metadata": {
            "title": "createPersonalAccessToken"
          }
        },
        "x-hidden": true,
        "tags": [
          "Admin",
          "Endpoints"
        ]
      }
    },
    "/v1/admin/account/pats/{id}": {
      "delete": {
        "operationId": "Admin_deletePersonalAccessToken",
        "description": "Delete a PAT",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Personal Access Token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/deletePersonalAccessTokenResponse"
          },
          "default": {
            "$ref": "#/components/responses/deletePersonalAccessTokenResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "deletePersonalAccessToken"
          }
        },
        "x-hidden": true,
        "tags": [
          "Admin",
          "Endpoints"
        ]
      }
    },
    "/v1/admin/account/preferences/{key}": {
      "post": {
        "operationId": "Admin_setAccountPreference",
        "description": "Set a preference for the account",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "Preference key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/setAccountPreferenceResponse"
          },
          "default": {
            "$ref": "#/components/responses/setAccountPreferenceResponse"
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/setAccountPreferenceBody"
        },
        "x-mint": {
          "metadata": {
            "title": "setAccountPreference"
          }
        },
        "x-hidden": true,
        "tags": [
          "Admin",
          "Endpoints"
        ]
      },
      "get": {
        "operationId": "Admin_getAccountPreference",
        "description": "Get a preference of the account",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "Preference key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getAccountPreferenceResponse"
          },
          "default": {
            "$ref": "#/components/responses/getAccountPreferenceResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "getAccountPreference"
          }
        },
        "x-hidden": true,
        "tags": [
          "Admin",
          "Endpoints"
        ]
      }
    },
    "/v1/admin/hub/integrations": {
      "get": {
        "operationId": "Admin_listPublicIntegrations",
        "description": "List public integration",
        "parameters": [
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return per page",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Integration Name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "Integration version. Either a semver version or tag \"latest\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interfaceId",
            "in": "query",
            "description": "Filter integrations by implemented interface ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interfaceName",
            "in": "query",
            "description": "Filter integrations by implemented interface name (strict match)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "installedByBotId",
            "in": "query",
            "description": "Bot ID. Required when filtering for installed integrations",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "verificationStatus",
            "in": "query",
            "description": "Filter integrations by verification status",
            "schema": {
              "type": "string",
              "enum": [
                "unapproved",
                "pending",
                "approved",
                "rejected"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search integrations by name, description, actions, and interfaces. Responses include a matchedOn field indicating which fields matched the search.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort integrations by field",
            "schema": {
              "type": "string",
              "enum": [
                "popularity",
                "name",
                "createdAt",
                "updatedAt",
                "installCount"
              ]
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Sort direction (asc or desc)",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listPublicIntegrationsResponse"
          },
          "default": {
            "$ref": "#/components/responses/listPublicIntegrationsResponse"
          }
        },
        "tags": [
          "Admin",
          "Endpoints"
        ],
        "x-mint": {
          "metadata": {
            "title": "listPublicIntegrations"
          }
        }
      }
    },
    "/v1/admin/hub/integrations/{id}": {
      "get": {
        "operationId": "Admin_getPublicIntegrationById",
        "description": "Get public integration by Id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Integration Version ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getPublicIntegrationByIdResponse"
          },
          "default": {
            "$ref": "#/components/responses/getPublicIntegrationByIdResponse"
          }
        },
        "tags": [
          "Admin",
          "Endpoints"
        ],
        "x-mint": {
          "metadata": {
            "title": "getPublicIntegrationById"
          }
        }
      }
    },
    "/v1/admin/hub/integrations/{name}/{version}": {
      "get": {
        "operationId": "Admin_getPublicIntegration",
        "description": "Get public integration by name and version",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Integration Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "Integration version. Either a semver version, semver version range, or the constant string \"latest\"",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getPublicIntegrationResponse"
          },
          "default": {
            "$ref": "#/components/responses/getPublicIntegrationResponse"
          }
        },
        "tags": [
          "Admin",
          "Endpoints"
        ],
        "x-mint": {
          "metadata": {
            "title": "getPublicIntegration"
          }
        }
      }
    },
    "/v1/admin/hub/plugins": {
      "get": {
        "operationId": "Admin_listPublicPlugins",
        "description": "List public plugin",
        "parameters": [
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter all versions of a plugin by name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "Filter a plugin by name and version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listPublicPluginsResponse"
          },
          "default": {
            "$ref": "#/components/responses/listPublicPluginsResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "listPublicPlugins"
          }
        },
        "x-hidden": true,
        "tags": [
          "Admin",
          "Endpoints"
        ]
      }
    },
    "/v1/admin/hub/plugins/{id}": {
      "get": {
        "operationId": "Admin_getPublicPluginById",
        "description": "Get public plugin by Id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Plugin ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getPublicPluginByIdResponse"
          },
          "default": {
            "$ref": "#/components/responses/getPublicPluginByIdResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "getPublicPluginById"
          }
        },
        "x-hidden": true,
        "tags": [
          "Admin",
          "Endpoints"
        ]
      }
    },
    "/v1/admin/hub/plugins/{id}/dereferenced": {
      "get": {
        "operationId": "Admin_getDereferencedPublicPluginById",
        "description": "Get public plugin by Id with all interface entity references resolved to the corresponding entities as extended by the backing integrations",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Plugin ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interfaces",
            "in": "query",
            "description": "Interfaces and their backing integrations. The plugin will be returned with all entity references resolved to the corresponding entities as extended by the backing integrations.",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string",
                "description": "integration id"
              },
              "description": "Mapping of interface aliases to integration IDs"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getDereferencedPublicPluginByIdResponse"
          },
          "default": {
            "$ref": "#/components/responses/getDereferencedPublicPluginByIdResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "getDereferencedPublicPluginById"
          }
        },
        "x-hidden": true,
        "tags": [
          "Admin",
          "Endpoints"
        ]
      }
    },
    "/v1/admin/hub/plugins/{name}/{version}": {
      "get": {
        "operationId": "Admin_getPublicPlugin",
        "description": "Get public plugin by name and version",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Plugin Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "Plugin version. Either a semver version, semver version range, or the constant string \"latest\"",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getPublicPluginResponse"
          },
          "default": {
            "$ref": "#/components/responses/getPublicPluginResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "getPublicPlugin"
          }
        },
        "x-hidden": true,
        "tags": [
          "Admin",
          "Endpoints"
        ]
      }
    },
    "/v1/admin/hub/plugins/{id}/code/{platform}": {
      "get": {
        "operationId": "Admin_getPublicPluginCode",
        "description": "Get public plugin code",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Plugin id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "platform",
            "in": "path",
            "description": "Platform",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "node",
                "browser"
              ]
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getPublicPluginCodeResponse"
          },
          "default": {
            "$ref": "#/components/responses/getPublicPluginCodeResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "getPublicPluginCode"
          }
        },
        "x-hidden": true,
        "tags": [
          "Admin",
          "Endpoints"
        ]
      }
    },
    "/v1/admin/hub/interfaces": {
      "get": {
        "operationId": "Admin_listPublicInterfaces",
        "description": "List public interfaces",
        "parameters": [
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter all versions of an interface by name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "Filter an interface by name and version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listPublicInterfacesResponse"
          },
          "default": {
            "$ref": "#/components/responses/listPublicInterfacesResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "listPublicInterfaces"
          }
        },
        "x-hidden": true,
        "tags": [
          "Admin",
          "Endpoints"
        ]
      }
    },
    "/v1/admin/hub/interfaces/{id}": {
      "get": {
        "operationId": "Admin_getPublicInterfaceById",
        "description": "Get public interface by Id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Interface ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getPublicInterfaceByIdResponse"
          },
          "default": {
            "$ref": "#/components/responses/getPublicInterfaceByIdResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "getPublicInterfaceById"
          }
        },
        "x-hidden": true,
        "tags": [
          "Admin",
          "Endpoints"
        ]
      }
    },
    "/v1/admin/hub/interfaces/{name}/{version}": {
      "get": {
        "operationId": "Admin_getPublicInterface",
        "description": "Get public interface by name and version",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Interface Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "Interface version. Either a semver version, semver version range, or the constant string \"latest\"",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getPublicInterfaceResponse"
          },
          "default": {
            "$ref": "#/components/responses/getPublicInterfaceResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "getPublicInterface"
          }
        },
        "x-hidden": true,
        "tags": [
          "Admin",
          "Endpoints"
        ]
      }
    },
    "/v1/admin/bots": {
      "post": {
        "operationId": "Admin_createBot",
        "description": "Create bot",
        "parameters": [
          {
            "name": "x-workspace-id",
            "in": "header",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/createBotResponse"
          },
          "default": {
            "$ref": "#/components/responses/createBotResponse"
          }
        },
        "tags": [
          "Admin",
          "Endpoints"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/createBotBody"
        },
        "x-mint": {
          "metadata": {
            "title": "createBot"
          }
        }
      },
      "get": {
        "operationId": "Admin_listBots",
        "description": "List bots",
        "parameters": [
          {
            "name": "dev",
            "in": "query",
            "description": "If true, only dev bots are returned. Otherwise, only production bots are returned.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter by tags",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortField",
            "in": "query",
            "description": "Sort results by this field",
            "schema": {
              "type": "string",
              "enum": [
                "createdAt",
                "updatedAt"
              ]
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort results in this direction",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "x-workspace-id",
            "in": "header",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listBotsResponse"
          },
          "default": {
            "$ref": "#/components/responses/listBotsResponse"
          }
        },
        "tags": [
          "Admin",
          "Endpoints"
        ],
        "x-mint": {
          "metadata": {
            "title": "listBots"
          }
        }
      }
    },
    "/v1/admin/bots/{id}": {
      "put": {
        "operationId": "Admin_updateBot",
        "description": "Update bot",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bot ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-workspace-id",
            "in": "header",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/updateBotResponse"
          },
          "default": {
            "$ref": "#/components/responses/updateBotResponse"
          }
        },
        "tags": [
          "Admin",
          "Endpoints"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/updateBotBody"
        },
        "x-mint": {
          "metadata": {
            "title": "updateBot"
          }
        }
      },
      "get": {
        "operationId": "Admin_getBot",
        "description": "Get bot details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bot ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shouldMergePlugins",
            "in": "query",
            "description": "UNUSED. Please ignore this field. It will be removed in the near future.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "x-workspace-id",
            "in": "header",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getBotResponse"
          },
          "default": {
            "$ref": "#/components/responses/getBotResponse"
          }
        },
        "tags": [
          "Admin",
          "Endpoints"
        ],
        "x-mint": {
          "metadata": {
            "title": "getBot"
          }
        }
      },
      "delete": {
        "operationId": "Admin_deleteBot",
        "description": "Delete bot",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bot ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-workspace-id",
            "in": "header",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/deleteBotResponse"
          },
          "default": {
            "$ref": "#/components/responses/deleteBotResponse"
          }
        },
        "tags": [
          "Admin",
          "Endpoints"
        ],
        "x-mint": {
          "metadata": {
            "title": "deleteBot"
          }
        }
      }
    },
    "/v1/admin/bots/{id}/signing-secrets/rotate": {
      "post": {
        "operationId": "Admin_rotateBotSigningSecrets",
        "description": "Rotate bot signing secrets. This will generate a new signing secret and invalidate the old ones after 24 hours.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bot ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-workspace-id",
            "in": "header",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/rotateBotSigningSecretsResponse"
          },
          "default": {
            "$ref": "#/components/responses/rotateBotSigningSecretsResponse"
          }
        },
        "tags": [
          "Admin",
          "experimental",
          "Endpoints"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/rotateBotSigningSecretsBody"
        },
        "x-mint": {
          "metadata": {
            "title": "rotateBotSigningSecrets"
          }
        },
        "x-hidden": true
      }
    },
    "/v1/admin/bots/{id}/transfer": {
      "post": {
        "operationId": "Admin_transferBot",
        "description": "Transfer bot to another workspace. You need to be a Manager member of the workspace the bot currently belongs to and have permission to create bots in the target workspace.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bot ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-workspace-id",
            "in": "header",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/transferBotResponse"
          },
          "default": {
            "$ref": "#/components/responses/transferBotResponse"
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/transferBotBody"
        },
        "x-mint": {
          "metadata": {
            "title": "transferBot"
          }
        },
        "x-hidden": true,
        "tags": [
          "Admin",
          "Endpoints"
        ]
      }
    },
    "/v1/admin/bots/{id}/logs": {
      "get": {
        "operationId": "Admin_getBotLogs",
        "description": "Get bot logs",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bot ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeStart",
            "in": "query",
            "description": "Beginning of the time range to get logs from",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeEnd",
            "in": "query",
            "description": "End of the time range to get logs from",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "level",
            "in": "query",
            "description": "Filter by log level",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "Filter by user ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workflowId",
            "in": "query",
            "description": "Filter by workflow ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conversationId",
            "in": "query",
            "description": "Filter by conversation ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "messageContains",
            "in": "query",
            "description": "Filter logs where the message contains this substring",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nextToken",
            "in": "query",
            "description": "Token to get the next page of logs",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-workspace-id",
            "in": "header",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getBotLogsResponse"
          },
          "default": {
            "$ref": "#/components/responses/getBotLogsResponse"
          }
        },
        "tags": [
          "Admin",
          "Endpoints"
        ],
        "x-mint": {
          "metadata": {
            "title": "getBotLogs"
          }
        }
      }
    },
    "/v1/admin/bots/{id}/webchat": {
      "get": {
        "operationId": "Admin_getBotWebchat",
        "description": "Get the webchat code/URL for a bot",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bot ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "type of script to get",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "preconfigured",
                "configurable",
                "fullscreen",
                "sharableUrl"
              ]
            }
          },
          {
            "name": "x-workspace-id",
            "in": "header",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getBotWebchatResponse"
          },
          "default": {
            "$ref": "#/components/responses/getBotWebchatResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "getBotWebchat"
          }
        },
        "x-hidden": true,
        "tags": [
          "Admin",
          "Endpoints"
        ]
      }
    },
    "/v1/admin/bots/{id}/analytics": {
      "get": {
        "operationId": "Admin_getBotAnalytics",
        "description": "Get bot analytics",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bot ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date/time (inclusive)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date/time (inclusive)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-workspace-id",
            "in": "header",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getBotAnalyticsResponse"
          },
          "default": {
            "$ref": "#/components/responses/getBotAnalyticsResponse"
          }
        },
        "tags": [
          "Admin",
          "Endpoints"
        ],
        "x-mint": {
          "metadata": {
            "title": "getBotAnalytics"
          }
        }
      }
    },
    "/v1/admin/bots/{id}/action-runs": {
      "get": {
        "operationId": "Admin_listActionRuns",
        "description": "List action runs for a specific integration of a bot",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bot ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integrationName",
            "in": "query",
            "description": "Integration name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestampFrom",
            "in": "query",
            "description": "Start timestamp (inclusive)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestampUntil",
            "in": "query",
            "description": "End timestamp (inclusive)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-workspace-id",
            "in": "header",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listActionRunsResponse"
          },
          "default": {
            "$ref": "#/components/responses/listActionRunsResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "listActionRuns"
          }
        },
        "x-hidden": true,
        "tags": [
          "Admin",
          "Endpoints"
        ]
      }
    },
    "/v1/admin/bots/{id}/issues/{issueId}": {
      "get": {
        "operationId": "Admin_getBotIssue",
        "description": "Get Bot Issue",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bot ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "issueId",
            "in": "path",
            "description": "Issue ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-workspace-id",
            "in": "header",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getBotIssueResponse"
          },
          "default": {
            "$ref": "#/components/responses/getBotIssueResponse"
          }
        },
        "tags": [
          "Admin",
          "Endpoints"
        ],
        "x-mint": {
          "metadata": {
            "title": "getBotIssue"
          }
        }
      },
      "delete": {
        "operationId": "Admin_deleteBotIssue",
        "description": "Delete Bot Issue",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bot ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "issueId",
            "in": "path",
            "description": "Issue ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-workspace-id",
            "in": "header",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/deleteBotIssueResponse"
          },
          "default": {
            "$ref": "#/components/responses/deleteBotIssueResponse"
          }
        },
        "tags": [
          "Admin",
          "Endpoints"
        ],
        "x-mint": {
          "metadata": {
            "title": "deleteBotIssue"
          }
        }
      }
    },
    "/v1/admin/bots/{id}/issues": {
      "get": {
        "operationId": "Admin_listBotIssues",
        "description": "List Bot Issues",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bot ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-workspace-id",
            "in": "header",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listBotIssuesResponse"
          },
          "default": {
            "$ref": "#/components/responses/listBotIssuesResponse"
          }
        },
        "tags": [
          "Admin",
          "Endpoints"
        ],
        "x-mint": {
          "metadata": {
            "title": "listBotIssues"
          }
        }
      }
    },
    "/v1/admin/bots/{id}/issues/{issueId}/events": {
      "get": {
        "operationId": "Admin_listBotIssueEvents",
        "description": "List Events for a Bot Issue",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bot ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "issueId",
            "in": "path",
            "description": "Issue ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-workspace-id",
            "in": "header",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listBotIssueEventsResponse"
          },
          "default": {
            "$ref": "#/components/responses/listBotIssueEventsResponse"
          }
        },
        "tags": [
          "Admin",
          "Endpoints"
        ],
        "x-mint": {
          "metadata": {
            "title": "listBotIssueEvents"
          }
        }
      }
    },
    "/v1/admin/bots/{id}/versions": {
      "get": {
        "operationId": "Admin_listBotVersions",
        "description": "List Versions for a Bot",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bot ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-workspace-id",
            "in": "header",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listBotVersionsResponse"
          },
          "default": {
            "$ref": "#/components/responses/listBotVersionsResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "listBotVersions"
          }
        },
        "x-hidden": true,
        "tags": [
          "Admin",
          "Endpoints"
        ]
      },
      "post": {
        "operationId": "Admin_createBotVersion",
        "description": "Create a new version for a bot",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bot ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-workspace-id",
            "in": "header",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/createBotVersionResponse"
          },
          "default": {
            "$ref": "#/components/responses/createBotVersionResponse"
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/createBotVersionBody"
        },
        "x-mint": {
          "metadata": {
            "title": "createBotVersion"
          }
        },
        "x-hidden": true,
        "tags": [
          "Admin",
          "Endpoints"
        ]
      }
    },
    "/v1/admin/bots/{id}/versions/{versionId}": {
      "get": {
        "operationId": "Admin_getBotVersion",
        "description": "Get a specific version of a bot",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bot ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionId",
            "in": "path",
            "description": "Version ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-workspace-id",
            "in": "header",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getBotVersionResponse"
          },
          "default": {
            "$ref": "#/components/responses/getBotVersionResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "getBotVersion"
          }
        },
        "x-hidden": true,
        "tags": [
          "Admin",
          "Endpoints"
        ]
      }
    },
    "/v1/admin/bots/{id}/bot-json": {
      "get": {
        "operationId": "Admin_getBotJson",
        "description": "Download the raw bot JSON for a bot. Optionally specify versionId to download a specific version.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bot ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-workspace-id",
            "in": "header",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getBotJsonResponse"
          },
          "default": {
            "$ref": "#/components/responses/getBotJsonResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "getBotJson"
          }
        },
        "x-hidden": true,
        "tags": [
          "Admin",
          "Endpoints"
        ]
      }
    },
    "/v1/admin/bots/{id}/publish-from-bot-json": {
      "post": {
        "operationId": "Admin_publishFromBotJson",
        "description": "Deploy a bot using the provided raw bot JSON payload.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bot ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-workspace-id",
            "in": "header",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/publishFromBotJsonResponse"
          },
          "default": {
            "$ref": "#/components/responses/publishFromBotJsonResponse"
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/publishFromBotJsonBody"
        },
        "x-mint": {
          "metadata": {
            "title": "publishFromBotJson"
          }
        },
        "x-hidden": true,
        "tags": [
          "Admin",
          "Endpoints"
        ]
      }
    },
    "/v1/admin/bots/{id}/versions/deploy": {
      "post": {
        "operationId": "Admin_deployBotVersion",
        "description": "Deploys a version for a bot",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Bot ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-workspace-id",
            "in": "header",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/deployBotVersionResponse"
          },
          "default": {
            "$ref": "#/components/responses/deployBotVersionResponse"
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/deployBotVersionBody"
        },
        "x-mint": {
          "metadata": {
            "title": "deployBotVersion"
          }
        },
        "x-hidden": true,
        "tags": [
          "Admin",
          "Endpoints"
        ]
      }
    },
    "/v1/admin/bots/{botId}/integrations/{integrationId}/shareable-id": {
      "post": {
        "operationId": "Admin_createIntegrationShareableId",
        "description": "**EXPERIMENTAL** Generate a shareable ID for an integration installed in a bot. This ID is meant to identify the crossover of a bot and an integration version, just like the webhook ID, but in a human-readable format. It is used for the integrations channel sandbox feature.",
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "description": "Bot ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integrationId",
            "in": "path",
            "description": "Integration Version ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integrationInstanceAlias",
            "in": "query",
            "description": "Integration instance alias. If provided, integrationId is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-workspace-id",
            "in": "header",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/createIntegrationShareableIdResponse"
          },
          "default": {
            "$ref": "#/components/responses/createIntegrationShareableIdResponse"
          }
        },
        "tags": [
          "Admin",
          "experimental",
          "Endpoints"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/createIntegrationShareableIdBody"
        },
        "x-mint": {
          "metadata": {
            "title": "createIntegrationShareableId"
          }
        },
        "x-hidden": true
      },
      "delete": {
        "operationId": "Admin_deleteIntegrationShareableId",
        "description": "**EXPERIMENTAL** Delete a shareable ID for an integration installed in a bot. This ID is meant to identify the crossover of a bot and an integration version, just like the webhook ID, but in a human-readable format. It is used for the integrations channel sandbox feature.",
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "description": "Bot ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integrationId",
            "in": "path",
            "description": "Integration Version ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integrationInstanceAlias",
            "in": "query",
            "description": "Integration instance alias. If provided, integrationId is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-workspace-id",
            "in": "header",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/deleteIntegrationShareableIdResponse"
          },
          "default": {
            "$ref": "#/components/responses/deleteIntegrationShareableIdResponse"
          }
        },
        "tags": [
          "Admin",
          "experimental",
          "Endpoints"
        ],
        "x-mint": {
          "metadata": {
            "title": "deleteIntegrationShareableId"
          }
        },
        "x-hidden": true
      },
      "get": {
        "operationId": "Admin_getIntegrationShareableId",
        "description": "**EXPERIMENTAL** Get an existing shareable ID for an integration installed in a bot. This ID is meant to identify the crossover of a bot and an integration version, just like the webhook ID, but in a human-readable format. It is used for the integrations channel sandbox feature.",
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "description": "Bot ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integrationId",
            "in": "path",
            "description": "Integration Version ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integrationInstanceAlias",
            "in": "query",
            "description": "Integration instance alias. If provided, integrationId is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-workspace-id",
            "in": "header",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getIntegrationShareableIdResponse"
          },
          "default": {
            "$ref": "#/components/responses/getIntegrationShareableIdResponse"
          }
        },
        "tags": [
          "Admin",
          "experimental",
          "Endpoints"
        ],
        "x-mint": {
          "metadata": {
            "title": "getIntegrationShareableId"
          }
        },
        "x-hidden": true
      }
    },
    "/v1/admin/bots/{botId}/integrations/{integrationId}/sandboxed-conversations": {
      "delete": {
        "operationId": "Admin_unlinkSandboxedConversations",
        "description": "**EXPERIMENTAL** Unlink all sandboxed conversations for an integration installed in a bot",
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "description": "Bot ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integrationId",
            "in": "path",
            "description": "Integration Version ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "integrationInstanceAlias",
            "in": "query",
            "description": "Integration instance alias. If provided, integrationId is ignored.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-workspace-id",
            "in": "header",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/unlinkSandboxedConversationsResponse"
          },
          "default": {
            "$ref": "#/components/responses/unlinkSandboxedConversationsResponse"
          }
        },
        "tags": [
          "Admin",
          "experimental",
          "Endpoints"
        ],
        "x-mint": {
          "metadata": {
            "title": "unlinkSandboxedConversations"
          }
        },
        "x-hidden": true
      }
    },
    "/v1/admin/bots/baks": {
      "get": {
        "operationId": "Admin_listBotApiKeys",
        "description": "List BAKs (Bot Api Keys) of a bot",
        "parameters": [
          {
            "name": "botId",
            "in": "query",
            "description": "ID of the bot",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-workspace-id",
            "in": "header",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listBotApiKeysResponse"
          },
          "default": {
            "$ref": "#/components/responses/listBotApiKeysResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "listBotApiKeys"
          }
        },
        "x-hidden": true,
        "tags": [
          "Admin",
          "Endpoints"
        ]
      },
      "post": {
        "operationId": "Admin_createBotApiKey",
        "description": "Create a BAK",
        "parameters": [
          {
            "name": "x-workspace-id",
            "in": "header",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/createBotApiKeyResponse"
          },
          "default": {
            "$ref": "#/components/responses/createBotApiKeyResponse"
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/createBotApiKeyBody"
        },
        "x-mint": {
          "metadata": {
            "title": "createBotApiKey"
          }
        },
        "x-hidden": true,
        "tags": [
          "Admin",
          "Endpoints"
        ]
      }
    },
    "/v1/admin/bots/baks/{id}": {
      "delete": {
        "operationId": "Admin_deleteBotApiKey",
        "description": "Delete a BAK",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of Bot Api Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-workspace-id",
            "in": "header",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/deleteBotApiKeyResponse"
          },
          "default": {
            "$ref": "#/components/responses/deleteBotApiKeyResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "deleteBotApiKey"
          }
        },
        "x-hidden": true,
        "tags": [
          "Admin",
          "Endpoints"
        ]
      }
    },
    "/v1/admin/bots/{botId}/allowlist": {
      "get": {
        "operationId": "Admin_getBotAllowlist",
        "description": "Get the Bot Allowlist",
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "description": "Bot ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-workspace-id",
            "in": "header",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getBotAllowlistResponse"
          },
          "default": {
            "$ref": "#/components/responses/getBotAllowlistResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "getBotAllowlist"
          }
        },
        "x-hidden": true,
        "tags": [
          "Admin",
          "Endpoints"
        ]
      },
      "put": {
        "operationId": "Admin_updateBotAllowlist",
        "description": "Update the Bot Allowlist",
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "description": "Bot ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-workspace-id",
            "in": "header",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/updateBotAllowlistResponse"
          },
          "default": {
            "$ref": "#/components/responses/updateBotAllowlistResponse"
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/updateBotAllowlistBody"
        },
        "x-mint": {
          "metadata": {
            "title": "updateBotAllowlist"
          }
        },
        "x-hidden": true,
        "tags": [
          "Admin",
          "Endpoints"
        ]
      }
    },
    "/v1/admin/workspaces/{id}/migrate-to-v4": {
      "post": {
        "operationId": "Admin_migrateWorkspaceToV4",
        "description": "Migrate a workspace from v3 to v4 billing. Not meant for public use.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/migrateWorkspaceToV4Response"
          },
          "default": {
            "$ref": "#/components/responses/migrateWorkspaceToV4Response"
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/migrateWorkspaceToV4Body"
        },
        "x-mint": {
          "metadata": {
            "title": "migrateWorkspaceToV4"
          }
        },
        "x-hidden": true,
        "tags": [
          "Admin",
          "Endpoints"
        ]
      }
    },
    "/v1/admin/workspaces/{id}/billing/invoices": {
      "get": {
        "operationId": "Admin_listWorkspaceInvoices",
        "description": "List invoices billed to workspace",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listWorkspaceInvoicesResponse"
          },
          "default": {
            "$ref": "#/components/responses/listWorkspaceInvoicesResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "listWorkspaceInvoices"
          }
        },
        "x-hidden": true,
        "tags": [
          "Admin",
          "Endpoints"
        ]
      }
    },
    "/v1/admin/workspaces/{id}/billing/upcoming-invoice": {
      "get": {
        "operationId": "Admin_getUpcomingInvoice",
        "description": "Get upcoming invoice for workspace",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getUpcomingInvoiceResponse"
          },
          "default": {
            "$ref": "#/components/responses/getUpcomingInvoiceResponse"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "getUpcomingInvoice"
          }
        },
        "x-hidden": true,
        "tags": [
          "Admin",
          "Endpoints"
        ]
      }
    },
    "/v1/admin/workspaces/{id}/billing/invoices/charge-unpaid": {
      "post": {
        "operationId": "Admin_chargeWorkspaceUnpaidInvoices",
        "description": "Charge unpaid invoices of a workspace.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Workspace ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/chargeWorkspaceUnpaidInvoicesResponse"
          },
          "default": {
            "$ref": "#/components/responses/chargeWorkspaceUnpaidInvoicesResponse"
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/chargeWorkspaceUnpaidInvoicesBody"
        },
        "x-mint": {
          "metadata": {
            "title": "chargeWorkspaceUnpaidInvoices"
          }
        },
        "x-hidden": true,
        "tags": [
          "Admin",
          "Endpoints"
        ]
      }
    },
    "/v1/admin/workspaces": {
      "post": {
        "operationId": "Admin_createWorkspace",
        "description": "Create workspace",
        "parameters": [
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/createWorkspaceResponse"
          },
          "default": {
            "$ref": "#/components/responses/createWorkspaceResponse"
          }
        },
        "tags": [
          "Admin",
          "Endpoints"
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/createWorkspaceBody"
        },
        "x-mint": {
          "metadata": {
            "title": "createWorkspace"
          }
        }
      },
      "get": {
        "operationId": "Admin_listWorkspaces",
        "description": "List workspaces the user has access to",
        "parameters": [
          {
            "name": "nextToken",
            "in": "query",
            "description": "Provide the `meta.nextToken` value provided in the last API response to retrieve the next page of results",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "handle",
            "in": "query",
            "description": "Workspace handle",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-multiple-integrations",
            "in": "header",
            "description": "Whether the client supports bots with multiple instances of the same integration. Set to \"true\" to receive integration instances keyed by their alias instead of their id. This header will be removed in the future, and the API will always return multiple instances keyed by alias.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listWorkspacesResponse"
          },
          "default": {
            "$ref": "#/components/responses/listWorkspacesResponse"
          }
        },
        "tags": [
          "Admin",
          "Endpoints"
        ],
[...]
